<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body class="container">

  <header class="main-header">
    <div class="container">
      <%- include('../../partials/header'); %>
    </div>
  </header>

  <main>
    <div>
      <h1>Product list page</h1>
      <section class="section-products">
        <div class="container">
          <div class="row">
            <% data.forEach((product, index)=> { %>

              <!-- Single Product -->
              <div class="col-md-6 col-lg-4 col-xl-3 plspcid">
                <div id="product-<%=index+1 %>" class="single-product">
                  <div class="part-1">
                    <img class="product-img" src="/public/uploadedImages/<%= product.image_name?product.image_name:'noimage.jpg' %>" alt="<%= product.name %>" />
                    <ul>
                      <li><a class="pl-links" href="#"><i class="fas fa-shopping-cart"></i></a></li>
                      <li><a class="pl-links" href="#"><i class="fas fa-heart"></i></a></li>
                      <li><a class="pl-links" href="#"><i class="fas fa-plus"></i></a></li>
                      <li><a class="pl-links" href="#"><i class="fas fa-expand"></i></a></li>
                    </ul>
                  </div>
                  <div class="part-2">
                    <a href="/api/products/<%= product.id %>" style="cursor: pointer; display: block;">
                      <h3 class="product-title">
                        <%= product.name %>
                      </h3>
                      <h4 class="product-price">₹<%= product.price %>
                      </h4>
                    </a>
                  </div>
                </div>
              </div>


              <% }); %>

          </div>
        </div>
      </section>


    </div>
  </main>


  <%- include('../../partials/footer'); %>