<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body class="container">

  <header class="main-header">
    <div class="container">
      <%- include('../../partials/header'); %>
    </div>
  </header>

  <main>
    <div>
      <h1>Update product page</h1>

      <% const p=product[0] %>
      <% let imgs = p.images.map(n => n.image_name); %>
      <% console.log("images = ", imgs); %>

        <section class="product-form-section">
          <form action="/api/products" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="inputProductName">Product Name</label>
              <input type="text" name="name" value="<%= p.name %>" class="form-control" id="inputProductName"
                placeholder="Enter product name" required>
            </div>
            <div class="form-group">
              <label for="inputProductPrice">Product Price</label>
              <span class="addPrdctPriceInptSpan">₹</span>
              <input type="number" name="price" value="<%= p.price %>" step="0.01" min="0" class="form-control"
                id="inputProductPrice" placeholder="Product Price" required>
            </div>
            <div class="form-group">
              <label for="inputProductIngredients">Product Ingredients</label>
              <input type="text" name="ingredients" value="<%= p.ingredients %>" class="form-control"
                id="inputProductIngredients" placeholder="Product Ingredients" required>
            </div>
            <div class="form-group">
              <label for="inputProductIngredients">Add Product Images</label>
              <input type="file" name="images" accept="image/*" multiple class="form-control" id="inputProductImages" value="<%= JSON.stringify(imgs[0]) %>" required>
            </div>
            <div class="form-check">
              <input type="checkbox" onchange="showOrHideSbmtBtn('checkboxAddProduct', 'addPrdctSbmtBtn')"
                class="form-check-input" id="checkboxAddProduct" required>
              <label class="form-check-label" for="checkboxAddProduct">Check me out</label>
            </div>
            <button type="submit" id="addPrdctSbmtBtn" disabled class="btn btn-primary">Add Product</button>
          </form>
        </section>

    </div>
  </main>


  <%- include('../../partials/footer'); %>